My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "123e1e68-89ca-4c36-8316-7d27759e1115",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "wgperF0lFPz4rFow",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=you are an intelligent model. take the input email and try drafting a reply\n {{ $json.snippet }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "efe6d4eb-89ae-4274-95e1-de66bcc2c63b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        96,
        192
      ],
      "id": "b0b42d32-f54e-4cc7-a88a-fc354d02d977",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GsiY4rgpF9ix6j7p",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "vsnira456@gmail.com",
        "subject": "this is reply",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        480,
        16
      ],
      "id": "798af0c5-6add-4251-877f-41ccde93eba6",
      "name": "Send a message",
      "webhookId": "d91745fc-8650-4b0f-a15c-85e4c7273ab8",
      "credentials": {
        "gmailOAuth2": {
          "id": "wgperF0lFPz4rFow",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7975b2d1-4a11-4a9b-bdde-61c69424dd50",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "61a59f3659b17c455c9402086ec6b68ff4525081738f138ec6d72af15c496550"
  },
  "id": "B56DSXL6do6Rxzgq",
  "tags": []
}